.paper {
  padding: 16px !important;
  text-align: center !important;
  border: 1px solid $cor-primaria !important;
}

.textField {
  width: 100% !important;
}

.link {
  text-decoration: none !important;
}

.dialogClass {
  margin-left: -10% !important;
  margin-right: -10% !important;
  @media (min-width: $breakpoint-sm) {
    margin: 0% !important;
  }
}

.root {
  flex-grow: 1 !important;
  margin: 12px !important;
}
