/*  Card */
.cardContainerTotal {
  // Engloba todos os card's
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;

  @media (min-width: $breakpoint-md) {
    padding-left: 7.5px; // Corrige o gap deixado pela margin dos cards
  }
}

.cardBadge {
  position: absolute;
  left: 134px; // 139 tamanho img - 5 padding do badge
  top: 34px; // 30 Margem + 5 padding do badge
  background: $cor-primaria;
  text-align: center;
  border-radius: 50%;
  color: black;
  padding: 10px;
  width: 15px;
  height: 15px;
  font-weight: bold;
}

.card {
  @media (min-width: $breakpoint-md) {
    margin-left: -15px; // Margin entre cards
  }
  background-color: #fff;
  position: relative;
  height: 200px;
  display: inline-block;

  margin-bottom: 15px;

  // Sombra
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  transition: 0.3s;

  // Tamanho ocupado pelo card
  width: 100% !important;
  @media (min-width: $breakpoint-md) {
    width: 50% !important;
  }
  @media (min-width: $breakpoint-lg) {
    width: 50% !important;
  }
  @media (min-width: 1500px) {
    width: 33% !important;
  }

  // Card grande
  &__selecionado {
    width: 100% !important;
    margin-right: 0;
    margin-left: 0;
    padding: 0;

    @media (min-width: $breakpoint-md) {
      width: calc(100% + 15px) !important;
      margin-left: -7.5px;
    }
    @media (max-width: $breakpoint-md) {
      margin-bottom: 50px !important;
    }
  }
}

.card p {
  margin: 0;
  font-size: 15px;
}

.card h4 {
  margin: 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.cardContainer {
  text-align: left;
  width: auto;
  display: inline-block;

  // centraliza verticalmente
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.imgCard {
  width: 139px;
  height: 139px;
  border-radius: 50%;
  margin: 30px;
  display: inline-block;
  object-fit: cover;
}

.card-selected {
  background-color: $cor-secundaria;
  color: #fff;
}
