$cor-primaria: #009edb;
$cor-secundaria: #60c2e9;

$cor-primaria-t-v: #ff2020;
$cor-secundaria-t-v: #ff91a5;

$cor-primaria-t-a: #ffa320;
$cor-secundaria-t-a: #ffbd60;

$cor-primaria-t-g: #2f5909;
$cor-secundaria-t-g: #93cc60;
